/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.sectionteam {
  display: flex;
  width: 100%;
}
.sectionteam .team {
  width: 200px;
  height: 200px;
  text-align: center;
  flex-wrap: wrap;
  padding: 50px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Nunito";
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Anton";
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 4%;
  margin: 0 auto;
  background-color: #77e8cb;
}
header img {
  background-color: #1da985;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  padding-left: 5%;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  font-family: Anton;
}
nav a:hover {
  color: #eaf1f1;
}
@media (max-width: 500px) {
  nav a {
    padding: 5% 0;
  }
}
@media (max-width: 800px) {
  nav a {
    font-size: 1.6rem;
  }
}
footer {
  text-align: center;
  color: white;
  background-color: black;
  padding: 1%;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../Img/index-images/rsz_marcus-croucher-hgepldb8_5c-unsplash.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 10%;
}
.section-home {
  display: flex;
  padding: 0 5%;
  justify-content: center;
  background-color: #fff;
}
.section-home img {
  width: 50%;
  padding: 1%;
}
.section-home div {
  width: 50%;
  padding: 1%;
}
@media (max-width: 800px) {
  .section-home {
    flex-direction: column;
    align-items: center;
    max-height: 100%;
  }
  .section-home img {
    width: 80%;
  }
  .section-home div {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .section-home {
    flex-direction: column;
    max-height: 100%;
  }
  .section-home img {
    width: 100%;
  }
  .section-home div {
    width: 100%;
  }
}
.section2,
.section4 {
  flex-direction: row-reverse;
  background-color: #eaf1f1;
}
@media (max-width: 800px) {
  .section2,
  .section4 {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .section2,
  .section4 {
    flex-direction: column;
  }
}
button {
  display: block;
  background-color: #77e8cb;
  margin: 10px 0px;
  cursor: pointer;
  width: 150px;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: black;
  line-height: 45px;
  box-sizing: border-box;
  text-align: center;
  outline: none;
}
button:hover {
  display: block;
  background-color: #1da985;
  margin: 10px 0px;
  cursor: pointer;
  width: 150px;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: #eaf1f1;
  line-height: 45px;
  box-sizing: border-box;
  text-align: center;
}
@media (max-width: 800px) {
  button:hover {
    width: 50%;
  }
}
@media (max-width: 500px) {
  button:hover {
    width: 100%;
  }
}
@media (max-width: 800px) {
  button {
    width: 50%;
  }
}
@media (max-width: 500px) {
  button {
    width: 100%;
  }
}
.top-h1 {
  text-transform: capitalize;
  text-align: center;
  padding: 0 2%;
  padding-top: 3%;
  background-color: #eaf1f1;
}
.test-top-section {
  flex-direction: column;
  max-width: 100%;
  padding: 5%;
  background-color: #eaf1f1;
}
.with-photos {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 800px) {
  .with-photos {
    flex-direction: column;
    align-items: center;
  }
}
.with-photos img {
  width: 50%;
  padding: 2%;
}
@media (max-width: 800px) {
  .with-photos img {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .with-photos img {
    width: 100%;
  }
}
.with-photos article {
  width: 50%;
  padding: 2%;
}
@media (max-width: 800px) {
  .with-photos article {
    width: 80%;
  }
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
  padding: 10px 20px;
  line-height: 1.4;
}
q:before {
  content: open-quote;
  display: inline;
  line-height: 0;
  left: -2px;
  position: relative;
  top: 5px;
  color: #000;
  font-size: 1.5em;
}
q:after {
  content: close-quote;
  display: inline;
  line-height: 0;
  left: 2px;
  position: relative;
  top: 5px;
  color: #000;
  font-size: 1.5em;
}
.mid-section {
  display: flex;
  margin: 5%;
}
@media (max-width: 500px) {
  .mid-section {
    display: none;
  }
}
.mid-section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding: 2%;
}
.bottom-section {
  background-color: #eaf1f1;
  padding: 5%;
}
.bottom-border {
  border-bottom: 1px gray solid;
}
@media (max-width: 500px) {
  .bottom-border {
    border: none;
  }
}
.footer-middle {
  font-style: italic;
  align-self: flex-end;
  padding-right: 10%;
}
.footer {
  text-align: right;
  font-style: italic;
  padding-right: 10%;
}
