// Color assignments
// @font-color: ;
// @button-bg: ;
@main-bg: @white;
@dark-section-bg: @off-white;
@header-bg: @light-green;

// Colors
@white: #fff;
@light-green: #77e8cb;
@off-white: #eaf1f1;

// Escaping
@mobile: ~"(max-width: 500px)";
